* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
    height    : auto;
    min-height: 8em;
}

.nav {
    display       : flex;
    flex-direction: row;
}

.nav-items {
    margin         : 0;
    padding        : 0;
    font-size      : 2em;
    letter-spacing : .04em;
    flex-grow      : 1;
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
    list-style     : none;
}

.nav-item {
    position  : relative;
    padding   : 1.5em .5em 1em .5em;
    text-align: center;
    color     : black;
}

a {
    color          : inherit;
    text-decoration: none;
}

.wrapper {
    padding: 1em 5em 1em 5em;
}

.hamburger-toggle {
    display: none;
}


/* underline effect for top nav  */

.nav-item a::after {
    content      : '';
    position     : absolute;
    top          : 0;
    left         : 10%;
    right        : 10%;
    bottom       : 0;
    width        : 0%;
    border-bottom: 1px solid black;
    transition   : all .4s ease;
}

.nav-item a:hover::after {
    width: 80%;
}

@media (max-width: 699px) {
    .header {
        min-height: 4em;
    }

    .wrapper {
        padding: 1em;
    }

    h1 {
        font-size: 3em;
    }

    .nav {
        width         : 100%;
        flex-direction: column;
        text-align    : right;
        align-items   : flex-end;
    }

    .nav-items {
        display: none;
    }

    .nav-items.is-active {
        width  : 100%;
        display: block;
    }

    .nav-item {
        padding: 0.5em;
    }

    .hamburger-toggle {
        border          : none;
        background-color: inherit;
        width           : 6em;
        height          : 6em;
        display         : block;
    }

    .hamburger-toggle:hover {
        width: 6.5em;
        width: 6.5em;
    }

    /* Remove outline for non-keyboard focus on Chrome */
    .hamburger-toggle:focus:not(.focus-visible) {
        outline: none;
    }

    .nav-item:hover {
        background: #CCCCCC;
    }

    .nav-item a:hover::after {
        width: 0%;
    }
}


/* Social Media links */

.social-media {
    list-style     : none;
    display        : flex;
    justify-content: flex-start;
    margin         : 0;
    padding        : 3em 0 0 0;
}

.social-media-item {
    display : inline-block;
    width   : 45px;
    position: relative;
}


/* button pressed effect */

.social-media-item:active {
    top: 1px;
}

.github {
    background-image: url("icons/github.svg");
}

.github:hover,
.github:active {
    background-color: #6e5494;
}

.twitter {
    background: url("icons/twitter.svg");
}

.twitter:hover,
.twitter:active {
    background-color: #00acee;
}

.email {
    background-image: url("icons/email.svg");
}

.email:hover,
.email:active {
    background-color: grey;
}

.linkedin {
    background-image: url("icons/linkedin.svg");
}

.linkedin:hover,
.linkedin:active {
    background-color: #2867b2;
}

.email,
.twitter,
.github,
.linkedin {
    display          : block;
    border-radius    : 50%;
    width            : 35px;
    height           : 35px;
    color            : white;
    padding          : 10px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color : #969ea2;
}