body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.5em;
  text-align: right;
  letter-spacing: 0.18em;
}

.intro h2 {
  letter-spacing: 0.1em;
  text-align: right;
  font-size: 2.5em;
}

 h3 {
  font-size: 2em;
}

h4, h5 {
  display: inline-block;
  margin-top: 1em;
  margin-bottom:0.2em;
}
h5 {
  color: grey;
}

/* SECTIONS */
.headsection {
  background-color: #fcfeff;
  border-bottom: 0.5px solid #b4b5b5;
}

.intro {
  margin: 0em 3em 0em 3em;
  border-top: 2em solid #b2cecf;
}

.blurbbox {
  letter-spacing: 0.08em;
  font-weight: lighter;
  line-height: 1.5;
  padding: 4em 2em 0em 2em;
  align-items: center;
}

/* HEADINGS STRIP */
.heading {
  overflow: auto;
  font-family: Helvetica;
  word-wrap: break-word;
  text-align: center;
  margin-right:1.5em;
}

.cv-item-title {
  font-family: Helvetica;
}

.section-row {
    border-bottom: 1px solid #b4b5b5;
    margin: 2em 3em 0em 3em;
}

/* HANDLES HEADING STRIP SIDE -> TOP  */
@media only screen and (min-width: 48em) {
  .heading {
    text-align: right;
  }
  span {
    display: block; /*when in side bar, subheadings should take up more vertical space.*/
  }

  /* CONTENT */
  .section-row {
    margin: 2em 3em 0em 0em;
}
