body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.5em;
  text-align: left;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-bottom: 0em;
}

h2 {
  font-size: 2.5em;
  text-align: left;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin-top: 0em;
}

h3 {
  font-size: 2.1em;
  font-weight: 400;
  line-height: 1;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
  margin-right: .3em;
}

h4, h5 {
  display: inline-block;
  margin-bottom:0.2em;
}

h5 {
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-weight: lighter;
}

p, li, a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555F61;
  line-height: 1.6;
  margin-top: 0.4em;
  font-size: 1.0em;
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  h3 {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 64em) and (max-width: 75em) {
  h3 {
      font-size: 1.7em;
  }
}

/* HEADING AREA */
.headsection {
  background-color: #fcfeff;
  border-bottom: 0.5px solid #b4b5b5;
}

.intro {
  margin: 0em 3em 0em 3em;
  border-top: 2em solid #b2cecf;
}

.blurbbox {
  letter-spacing: 0.08em;
  font-weight: lighter;
  line-height: 1.5;
  margin-top:1em;
}

/* HEADINGS STRIP */
.heading {
  overflow: auto;
  font-family: Helvetica;
  word-wrap: break-word;
  margin-right:1.5em;
}

.cv-item-title {
  font-family: Helvetica;
}

.face-circle {
  border-radius: 50%;
  filter: grayscale(80%) contrast(120%) brightness(125%);
}

.face-container {
  display:flex;
  justify-content:center;
  margin: 1em 0em 0em 0em;
}

.section-row {
    margin: 2em 3em 0em 3em;
}

/* CONTENT */
.skills, h5 {
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.skills {
  margin-top: 0.3em;
}

@media only screen and (min-width: 48em), print{
  /* Title section */
  .blurbbox {
  padding: 2em 2em 0em 2em;
  }
  .face-container {
  margin: 2em 4em 2em 0em;
  }
  /* Section headings */
  .heading {
    text-align: right;
  }
  span {
    display: block;
  }
  .col-sm-3 {
  background-color: white;
  }
  /* Content */
  section {
    border: none;
  }
  .section-row {
    padding-bottom:5em;
    border-bottom: 1px solid #b4b5b5;
  }

  .section-row, .img {
    margin-left: 3em;
}

}

/* Print formatting - remove links, space text neatly over multiple pages  */
@media  print {
  body, html {
    margin-top: 0;
    font-size: 10px;
  }

  a {
    color: inherit;
  }

  section {
    page-break-inside: avoid;
  }
}
