body {
  padding: 0;
  margin: 0;
}

/* SECTIONS */
section {
  border-bottom: 1px solid #b4b5b5;
}

section:last-child {
  border: none;
}

/* HEADINGS */
  .col-sm-3{
  align-items: center;
  background-color:grey;

}

/* CONTENT */
/* http://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items*/
.cv-entry{
  margin: 1.5em 1.5em 1.5em 1.5em;
}

.heading{
  overflow: auto;
margin: 1.5em 1.5em 1.5em 1.5em;
}
