    /* todo use specific classes not Heading tags for safety */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
    
    .cv {
        width: 210mm;
        height: 297mm;
        display: grid;
        /* max-height: 100%; */
        /* fr represents a fraction of the available space */
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "personal personal" "work education" "work  awards" "work  certifications" "work  community" "work  community" "work  community";
        grid-gap: 10px;
        color: black;
        /* border: 1px solid black; */
        padding: 0.8em;
    }
    
    .section-name,
    .technologies,
    .job-title {
        margin: 0;
    }
    
    .job-title {
        font-size: 1em;
    }
    
    .section-name {
        font-size: 1em;
        text-transform: uppercase;
        opacity: 0.5;
    }
    
    .company-blurb {
        font-size: 0.7em;
        opacity: 0.7;
    }
    
    .technologies {
        padding: 0 3em 0 3em;
        opacity: 0.6;
        font-size: 0.8em;
    }
    
    .details {
        padding-left: 2em;
        font-size: 14px;
    }
    
    .details>li {
        padding-bottom: 0.4em;
    }
    
    .institute,
    .award {
        font-size: 0.8em;
    }
    
    {
        font-size: 1em;
        font-weight: 500;
    }
    
    .personal {
        display: flex;
        justify-content: space-between;
    }
    
    .contact-info {}
    
    .date {
        display: inline-block;
        font-size: 0.8em;
        opacity: 0.5;
        font-weight: normal;
    }
    
    .name {
        font-size: 3em;
        font-weight: 400;
        margin-bottom: 0.2em;
    }
    
    .profession {
        font-size: 1.5em;
    }
    
    .box {
        /* border: 1px solid grey; */
    }
    
    .personal {
        grid-area: personal;
    }
    
    .work {
        grid-area: work;
    }
    
    .education {
        grid-area: education;
    }
    
    .certifications {
        grid-area: certifications;
    }
    
    .education {
        grid-area: education;
    }
    
    .awards {
        grid-area: awards;
    }
    
    .community {
        grid-area: community;
    }
    
    @media print {
        html,
        body {
            width: 210mm;
            height: 297mm;
        }
        .header {
            display: none;
        }
    }
    
    @page {
        padding: 0;
        margin: 0;
        size: A4 portrait;
    }
    
    body {
        /* margin: 0; */
    }