/* CSS VARIABLES */

:root {
    --primary-color : #ffffd0;
    --accent-color  : #0C85D0;
    --secondary-text: grey;
    --close-spacing : 0.3em;
    --medium-spacing: 0.8em;
    --print-height  : 292mm;
    --print-width   : 210mm;
    --cv-height     : 86.18em;
    --cv-width      : 62em;

}

/* CSS GRID LAYOUT, MOBILE */

.cv {
    font-family          : "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    display              : grid;
    grid-template-columns: 1fr;
    box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.15);
    grid-template-areas  : "personal"
        "contact"
        "about"
        "work"
        "education"
        "skills"
        "certifications"
        "community"
        "hobbies";
    row-gap       : 0px;
    column-gap    : 32px;
    padding       : 2em;
    padding-top   : 1em;
    padding-bottom: 0;
}

.personal {
    grid-area: personal;
}

.contact {
    grid-area      : contact;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
}

.work {
    grid-area: work;
}

.skills {
    grid-area: skills;
}

.education {
    grid-area: education;
}

.awards {
    grid-area: awards;
}

.certifications {
    grid-area: certifications;
}

.community {
    grid-area: community;
}

/* TEXT AND LAYOUT */

.personal,
.contact {
    padding-bottom: 1em;
}

.pdf-link {
    color        : var(--accent-color);
    text-align   : center;
    width        : 100%;
    margin-bottom: 2em;
}

/* align cv to center of page */

.wrapper {
    padding       : 0;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.role,
.institute {
    color: var(--accent-color);
}

p {
    line-height: 1.5;
}

.job-title,
.award,
.degree {
    margin-bottom: 0;
}

.contact-item {
    padding: 0.5em;
}

.community,
.institute {
    margin-top   : var(--close-spacing);
    margin-bottom: var(--close-spacing);
}

.section-name {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size     : 0.9em;
    color         : var(--secondary-text);
}

.name {
    font-size    : 3em;
    font-weight  : 400;
    margin-bottom: var(--close-spacing);
}


.technologies {
    text-align   : justify;
    padding-right: 1em;
}

.details,
.award {
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    margin-top : 0;
}

.details>li {
    padding-bottom: 0.2em;
}

.date,
.location {
    color      : var(--secondary-text);
    display    : inline-block;
    font-weight: normal;
}

.technology {
    color: #0966a0;
}

.role {
    margin-bottom: 0;
}

.hobby-grid {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
    grid-gap             : 3px;
}

/* LARGE SCREEN */

@media (min-width: 62em),
print {
    .contact {
        font-size: 0.75em;
    }

    .cv {
        font-size            : 100%;
        display              : grid;
        width                : var(--cv-width);
        height               : var(--cv-height);
        grid-template-columns: .73fr .73fr 1fr;
        grid-template-rows   : 0.3fr 1fr 1.3fr 1fr 1fr 0.6fr 1.3fr;
        box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.15);
        grid-template-areas  :
            "personal personal contact"
            "work work about"
            "work work education"
            "work work education"
            "work work skills"
            "work work community"
            "certifications hobbies community";

    }
}

@media print {
    .cv a {
        color          : inherit;
        text-decoration: none;
    }

    .cv {
        font-size : 80%;
        width     : var(--print-width);
        height    : var(--print-height);
        box-shadow: none;
    }

    .header {
        display: none;
    }

    .pdf-link {
        display: none;
    }
}

@page {
    padding: 0;
    margin : 0cm;
    size   : A4 portrait;

}