.cv {
    font-size: 80%;
}

/* VARIABLES */

:root {
    --primary-color : #ffffd0;
    --accent-color  : #0C85D0;
    --secondary-text: grey;
    --close-spacing : 0.2em;
}

/* CSS GRID LAYOUT */

.cv {
    /* font-family                                                     : Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; */
    font-family                                                        : "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    /* font-family                                                     : system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; */

    display              : grid;
    grid-template-columns: 1fr;
    grid-template-areas  : "personal"
        "contact"
        "work"
        "about"
        "education"
        "skills"
        "certifications"
        "community"
        "hobbies";
    row-gap   : 10px;
    column-gap: 40px;
    border    : 1px solid black;
    padding   : 2em;
}

.grid-area {
    /* background-color: red; */
}

.personal {
    grid-area: personal;
}

.contact {
    font-size      : 0.75em;
    grid-area      : contact;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
}

.work {
    grid-area: work;
}

.skills {
    grid-area: skills;
}

.education {
    grid-area: education;
}

.awards {
    grid-area: awards;
}

.certifications {
    grid-area: certifications;
}

.community {
    grid-area: community;
}

/* TEXT AND LAYOUT */

.role,
.institute {
    color: var(--accent-color);
}

p {
    line-height: 1.5;
}

.job-title,
.award,
.degree {
    margin-bottom: 0;
}

.contact-item {
    padding: 0.5em;
}

.institute {
    margin-top: var(--close-spacing);
}

.community .institute {
    margin-bottom: var(--close-spacing);
}

.section-name {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size     : 0.9em;
    color         : var(--secondary-text);
}

.name {
    font-size    : 3em;
    font-weight  : 400;
    margin-bottom: var(--close-spacing);
}


.technologies {
    text-align   : justify;
    padding-right: 1em;
}

.details {
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    margin-top : 0;
}

.details>li {
    padding-bottom: 0.2em;
}

.date,
.location {
    color      : var(--secondary-text);
    display    : inline-block;
    font-weight: normal;
}

.technology {
    color: #0966a0;
}

.role {
    margin-bottom: 0;
}

.hobby-grid {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
}



/* LARGE SCREEN */

@media (min-width: 700px) {
    .cv {
        display              : grid;
        width                : 210mm;
        height               : 297mm;
        grid-template-columns: .75fr .75fr 1fr;
        grid-template-rows   : 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        grid-template-areas:
            "personal personal contact"
            "work work about"
            "work work education"
            "work work education"
            "work work education"
            "work work education"
            "work work skills"
            "certifications  hobbies community";

    }
}

/* PRINTS CV TO A SINGLE A4 PAGE */

@media print {
    .cv {
        display              : grid;
        width                : 210mm;
        height               : 297mm;
        grid-template-columns: .85fr .85fr 1fr;
        grid-template-areas  :
            "personal personal contact"
            "work work about"
            "work work education"
            "work work education"
            "work work skills"
            "work work community"
            "certifications  hobbies community";
    }

    html,
    body {
        width : 210mm;
        height: 297mm;
    }

    .header {
        display: none;
    }
}

@page {
    padding: 0;
    margin : 0;
    size   : A4 portrait;
}