header {
    padding: 3em;
    height: 10em;
    background-color: bisque;
}

nav {
    display: flex;
    flex-direction: row;
}

ul {
    font-size: 2em;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    padding: 10em;
}

.hamburger-toggle {
    display: none;
}

@media (max-width: 700px) {
    header {
        justify-content: flex-end;
        align-items: flex-end;
    }
    nav {
        flex-direction: column;
        align-items: flex-end;
    }
    .nav-items {
        display: none;
    }
    .nav-items.is-active {
        display: block;
        width: 30%;
        flex-grow: 0;
        flex-direction: column;
    }
    .hamburger-toggle {
        width: 4em;
        height: 4em;
        display: block;
        background: url("./hamburger-menu.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        align-self: flex-end;
    }
}