ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header {
    display: flex;
    height: 100px;
    background-color: bisque;
}

nav {
    flex-grow: 1;
}

a.hamburger {
    display: none;
}

#open-menu {
    display: none;
}

@media (max-width: 500px) {
    nav {
        display: none;
    }
    ul {
        flex-direction: column;
    }
    nav.is-active {
        display: block;
    }
    #open-menu {
        display: block;
    }
    /* a.hamburger {
        align-self: flex-end;
        width: 80px;
        height: 80px;
        background: url("./hamburger-menu.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    a.hamburger:hover {
        width: 90px;
        height: 90px
    } */
}